
@import "./variables.scss";
@mixin no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}
@mixin input-border {
    border:$light-blue 2px solid;
    border-radius: 5px;
  }
@mixin input-error-border {
    border:$strong-red 2px solid;
    border-radius: 5px;
  }

  // .control-error{
  //   background-color: brown;
  // }
// $light-blue:rgb(41, 132, 242);